# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

hw_3/cmake-build-debug
hw_3/.idea
hw_4/.idea
hw_4/cmake-build-debug
hw_5/.idea
hw_5/cmake-build-debug
